<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <DataFeedWatch_Connector>
            <version>0.3.1</version>
        </DataFeedWatch_Connector>
    </modules>

    <global>
        <helpers>
            <datafeedwatch_connector>
                <class>DataFeedWatch_Connector_Helper</class>
            </datafeedwatch_connector>
        </helpers>
        <blocks>
            <datafeedwatch_connector>
                <class>DataFeedWatch_Connector_Block</class>
            </datafeedwatch_connector>
        </blocks>
        <models>
            <datafeedwatch_connector>
                <class>DataFeedWatch_Connector_Model</class>
                <resourceModel>datafeedwatch_connector_resource</resourceModel>
            </datafeedwatch_connector>
            <datafeedwatch_connector_resource>
                <class>DataFeedWatch_Connector_Model_Resource</class>
                <entities>
                    <updated_products>
                        <table>datafeedwatch_updated_products</table>
                    </updated_products>
                </entities>
            </datafeedwatch_connector_resource>
        </models>
        <resources>
            <datafeedwatch_connector_setup>
                <setup>
                    <module>DataFeedWatch_Connector</module>
                </setup>
            </datafeedwatch_connector_setup>
        </resources>
        <events>
            <catalog_category_save_after>
                <observers>
                    <datafeedwatch_connector_catalog_category_save_after>
                        <class>datafeedwatch_connector/observer</class>
                        <method>updateLastInheritanceUpdateDateOnCategoryChangeName</method>
                    </datafeedwatch_connector_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_before>
                <observers>
                    <datafeedwatch_connector_catalog_category_delete_before>
                        <class>datafeedwatch_connector/observer</class>
                        <method>updateLastInheritanceUpdateDate</method>
                    </datafeedwatch_connector_catalog_category_delete_before>
                </observers>
            </catalog_category_delete_before>
            <catalog_category_change_products>
                <observers>
                    <datafeedwatch_connector_catalog_category_change_products>
                        <class>datafeedwatch_connector/observer</class>
                        <method>updateLastInheritanceUpdateDate</method>
                    </datafeedwatch_connector_catalog_category_change_products>
                </observers>
            </catalog_category_change_products>
            <catalog_category_tree_move_after>
                <observers>
                    <datafeedwatch_connector_catalog_category_tree_move_after>
                        <class>datafeedwatch_connector/observer</class>
                        <method>updateLastInheritanceUpdateDate</method>
                    </datafeedwatch_connector_catalog_category_tree_move_after>
                </observers>
            </catalog_category_tree_move_after>
            <catalog_product_delete_before>
                <observers>
                    <datafeedwatch_connector_product_delete_before>
                        <class>datafeedwatch_connector/observer</class>
                        <method>removeProductFromUpdatedTable</method>
                    </datafeedwatch_connector_product_delete_before>
                </observers>
            </catalog_product_delete_before>
            <catalog_product_save_after>
                <observers>
                    <datafeedwatch_connector_product_delete_before>
                        <class>datafeedwatch_connector/observer</class>
                        <method>changeChildProductUpdatedAt</method>
                    </datafeedwatch_connector_product_delete_before>
                </observers>
            </catalog_product_save_after>
            <catalog_entity_attribute_save_before>
                <observers>
                    <datafeedwatch_connector_attribute_save_before>
                        <class>datafeedwatch_connector/observer</class>
                        <method>checkAndUpdateAttributeInheritance</method>
                    </datafeedwatch_connector_attribute_save_before>
                </observers>
            </catalog_entity_attribute_save_before>
            <catalog_entity_attribute_delete_before>
                <observers>
                    <datafeedwatch_connector_attribute_delete_before>
                        <class>datafeedwatch_connector/observer</class>
                        <method>updateLastInheritanceUpdateDate</method>
                    </datafeedwatch_connector_attribute_delete_before>
                </observers>
            </catalog_entity_attribute_delete_before>
        </events>
    </global>

    <adminhtml>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <connector_add_inheritance_field_to_attribute_form>
                        <class>datafeedwatch_connector/observer</class>
                        <method>addInheritanceFieldToAttributeForm</method>
                    </connector_add_inheritance_field_to_attribute_form>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <model_config_data_save_before>
                <observers>
                    <dfw_connector_update_inheritance_date_after_config_save>
                        <class>datafeedwatch_connector/observer</class>
                        <method>updateInheritanceUpdateDate</method>
                    </dfw_connector_update_inheritance_date_after_config_save>
                </observers>
            </model_config_data_save_before>
        </events>
        <translate>
            <modules>
                <DataFeedWatch_Connector>
                    <files>
                        <default>DataFeedWatch_Connector.csv</default>
                    </files>
                </DataFeedWatch_Connector>
            </modules>
        </translate>
        <layout>
            <updates>
                <datafeedwatch_connector>
                    <file>datafeedwatch/connector.xml</file>
                </datafeedwatch_connector>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <datafeedwatch_connector before="Mage_Adminhtml">DataFeedWatch_Connector_Adminhtml</datafeedwatch_connector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <crontab>
        <jobs>
            <datafeedwatch_connector_fill_updated_at_table>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>datafeedwatch_connector/cron::reindex</model>
                </run>
            </datafeedwatch_connector_fill_updated_at_table>
        </jobs>
    </crontab>

    <default>
        <datafeedwatch_connector>
            <general>
                <debug>0</debug>
            </general>
            <custom_inheritance>
                <product_url>1</product_url>
                <image_url>0</image_url>
            </custom_inheritance>
        </datafeedwatch_connector>
    </default>
</config>