<?xml version="1.0"?>
<config>
    <modules>
        <DataFeedWatch_Connector>
            <version>0.2.19.4</version>
        </DataFeedWatch_Connector>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <connector after="Mage_Adminhtml">DataFeedWatch_Connector_Adminhtml</connector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog translate="title" module="adminhtml">
                <children>
                    <connector translate="title" module="connector">
                        <title>DataFeedWatch</title>
                        <action>adminhtml/connectorsettings</action>
                    </connector>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <admin>
                    <catalog>
                        <children>
                            <connector translate="title" module="connector">
                                <title>DataFeedWatch</title>
                            </connector>
                        </children>
                    </catalog>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <connector>
                    <file>connector.xml</file>
                </connector>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <connector>
                <class>DataFeedWatch_Connector_Model</class>
                <resourceModel>connector_resource</resourceModel>
            </connector>
            <connector_resource>
                <class>DataFeedWatch_Connector_Model_Resource</class>
                <deprecatedNode>connector_mysql4</deprecatedNode>
                <entities>
                    <catalogrule_info>
                        <table>datafeedwatch_catalogrule_info</table>
                    </catalogrule_info>
                    <salesrule_info>
                        <table>datafeedwatch_salesrule_info</table>
                    </salesrule_info>
                </entities>
            </connector_resource>
        </models>
        <helpers>
            <connector>
                <class>DataFeedWatch_Connector_Helper</class>
            </connector>
        </helpers>
        <blocks>
            <connector>
                <class>DataFeedWatch_Connector_Block</class>
            </connector>
        </blocks>
        <resources>
            <datafeedwatch_connector_setup>
                <setup>
                    <module>DataFeedWatch_Connector</module>
                </setup>
            </datafeedwatch_connector_setup>
        </resources>
        <events>
            <catalogrule_rule_save_after>
                <observers>
                    <datafeedwatch_connector_save_catalogrule_date>
                        <type>singleton</type>
                        <class>DataFeedWatch_Connector_Model_Observer</class>
                        <method>catalogruleRuleSaveAfter</method>
                    </datafeedwatch_connector_save_catalogrule_date>
                </observers>
            </catalogrule_rule_save_after>
            <salesrule_rule_save_after>
                <observers>
                    <datafeedwatch_connector_save_salesrule_date>
                        <type>singleton</type>
                        <class>DataFeedWatch_Connector_Model_Observer</class>
                        <method>salesruleRuleSaveAfter</method>
                    </datafeedwatch_connector_save_salesrule_date>
                </observers>
            </salesrule_rule_save_after>
            <controller_action_postdispatch_adminhtml_promo_catalog_applyRules>
                <observers>
                    <datafeedwatch_connector_applyAll_catalogrule_date>
                        <type>singleton</type>
                        <class>DataFeedWatch_Connector_Model_Observer</class>
                        <method>catalogruleRuleApplyAllAfter</method>
                    </datafeedwatch_connector_applyAll_catalogrule_date>
                </observers>
            </controller_action_postdispatch_adminhtml_promo_catalog_applyRules>
        </events>
    </global>
</config>